<h1>Eat Da Burger</h1>
<img src="burger.jpg" alt="Eat Da Burger">


<ol>
  {{#each burgers}}
  {{#unless devoured}}
  <ul>
    <p>
      {{id}}. {{burger}}

      <button id="eat" data-id='{{id}}'>Devour It</button>

    </p>
  </ul>
  {{/unless}}
  {{/each}}
</ol>`



<h2>Make A Burger</h2>

<form id="addburger" class="button-size">
  <textarea type="text" name="burger"></textarea>
  <button type="submit">Create A Burger</button>
</form>